html{
    background-color: rgb(177, 244, 192);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-top: 5pc solid #084a0c;
    border-radius: 15px;
    background-color: #a0a0a0;
    text-align: center;
}

h1{
    font-size: 5em;
    margin-bottom: 5;
    text-shadow: 2px 2px #084a0c;
}

.photos img{
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 15px;
}

.cat img{
    width: 40em;
    border-radius: 15px;
}

